<img src="http://www.catalinbread.com/themes/cbread4/CBLOGO.png" height="42px" /><br/>

<p>Dear {{FIRST_NAME}} {{LAST_NAME}}, <br/><br/>


Thank you for registering your warranty coverage on your new Catalinbread {{PRODUCT}}. We hope you really like it.


</p>
<p>
All Catalinbread pedals enjoy a 7 year warranty to the original owner. The only exceptions are for comsetic damage, abuse and/or unauthorized modification. We will repair or replace your unit in the rare event it malfunctions, for free. There may be a charge for actual return shipping cost.
</p>
<p>
Save this email as proof of your registration.
</p>
<p>
  Product: {{PRODUCT}}<br/>
  S/N: {{SERIAL_NUMBER}}<br/>
  Purchase date: {{PURCHASE_DATE}}<br/>
  Purchase location: {{PURCHASE_LOCATION}}<br/>
  Comments: {{COMMENTS}}
</p>

<p>
Sincerely,

The Catalinbread team.
</p>
